BillValidator.CashCode.Driver/obj
Terminal_WinForms_App/.vs
Terminal_WinForms_App/Terminal_WinForms_App/obj
Terminal_WinForms_App/Terminal_WinForms_App/bin
Terminal_WinForms_App/packages
BillValidator.CashCode.Driver/.vs
BillValidator.CashCode.Driver/bin
